/* 头部样式  */
body a{
    cursor:pointer;
}
#header{
	text-align: center;
	margin: 15px auto 0 auto;
	width: 60%
}
 .bg-purple {
   background: #d3dce6;
 }
 .grid-content {
   border-radius: 4px;
   min-height: 60px;
 }
 /* 轮播图样式 */
 #carousel{
 	margin: 15px auto 0 auto;
 	width: 60%
 }
 
 .el-carousel__item h3 {
   color: #475669;
   font-size: 18px;
   opacity: 0.75;
   line-height: 300px;
   margin: 0;
 }
 
 .el-carousel__item:nth-child(2n) {
   background-color: #99a9bf;
 }
 
 .el-carousel__item:nth-child(2n+1) {
   background-color: #d3dce6;
 }
 
 /* 中间循环 */
#container{
	margin: 25px auto 0 auto;
	width: 60%
}
 .el-aside {
    background-color: #D3DCE6;
    color: #333;
    text-align: center;
    line-height: 1.5em;
  }
  
  .el-main {
    background-color: #E9EEF3;
    color: #333;
    text-align: left;
    line-height: 1.2em;
  }
  
.el-main > h3 {
	margin:10px 0;
}
.el-main > h3 > a:hover{
    color: deepskyblue;
}
.el-main > span {
	font-size: 12px;
}

.el-container {
	max-height: 250px;
    margin: 30px 0 0 0;
    border-radius: 4px;
  }
  
#container  .el-pagination{
	text-align: center;
	margin: 10px auto 0 auto;
}
#container .el-tag {
	margin: 0 10px 0 5px    
  }
#container .el-row {
    margin-bottom: 10px;
    font-size: 10px;
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
#container .el-row > .el-col :hover {
	color: blue;
	cursor:pointer;
  }


/* footer */
#ouerfooter{
	margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 60%;
}
#ouerfooter .el-row {
    margin-bottom: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }
#ouerfooter .el-col {
    border-radius: 4px;
  }
#ouerfooter .bg-purple-dark {
    background: #99a9bf;
  }
#ouerfooter .bg-purple {
    background: #d3dce6;
  }
#ouerfooter .bg-purple-light {
    background: #e5e9f2;
  }
#ouerfooter .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
#ouerfooter .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
  
  
  
#myarticle{
	margin: 25px auto 0 auto;
	width: 60%
}
  
  
#containera .grid-content {
	font-size: 12px;
    border-radius: 4px;
    min-height: 20px;
}
#containera .el-row {
	width: 50%;
}
#containera .el-pagination{
	text-align: center;
	margin: 10px auto 0 auto;
}
    
    