<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="/demo/static/css/home.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/vue"></script>
		<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script> -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	</head>
	<style>
		
	</style>
<body>
	<div id="header">
		<ouerheader></ouerheader>
	</div>
	<div id="carousel">
		<carousel></carousel>
	</div>
	<div id="container">
		<container></container>
	</div>
	
	<script src="/demo/static/js/header.js"></script>
	<script src="/demo/static/js/carousel.js"></script>
	<script src="/demo/static/js/container.js"></script>
	<script type="text/javascript">
		
	</script>
</body>
</html>
