<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zzy.javatest.mapper.MyArticleMapper">

	<resultMap id="myArticleMap" type="com.zzy.javatest.entity.table.MyArticle">
		<id property="id" column="id" />
		<result property="path" column="path" />
		<result property="title" column="title" />
		<result property="content" column="content" />
		<result property="createDate" column="createDate" />
		<result property="introduction" column="introduction" />
		<result property="tag" column="tag" />
		<collection property="myArticleStatistics" ofType="com.zzy.javatest.entity.table.MyArticleStatistics" >
			<result property="collectNum" column="collectNum" />
			<result property="likeNum" column="likeNum" />
			<result property="readNum" column="readNum" />
		</collection>
		<collection property="user" ofType="com.zzy.javatest.entity.User">
			<result property="name" column="name" />
		</collection>
	</resultMap>

	<sql id="where">
		<where>
			<if test="myArticle.title != null and myArticle.title != ''">
				and art.title like concat('%', #{myArticle.title}, '%')
			</if>
			<if test="myArticle.tag != null and myArticle.tag != ''">
				and art.tag = #{myArticle.tag}
			</if>
			<if test="myArticle.id != null and myArticle.id != 0">
				and art.id = #{myArticle.id}
			</if>
		</where>
	</sql>

	<select id="getAllArticle" resultMap="myArticleMap" resultType="com.zzy.javatest.entity.table.MyArticle">
		SELECT art.id,art.path, art.title, art.tag, art.content,
			art.createDate, art.introduction, mas.collectNum,
			mas.likeNum, mas.readNum, u.name
		FROM my_article art
		LEFT JOIN my_article_statistics mas
		ON art.id = mas.articleId
		LEFT JOIN user u
		ON art.userId = u.id
		<include refid="where" />
		ORDER BY ID DESC
	</select>

</mapper>




